.art-type-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.art-item-container {
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}

.art-item-title {
    font-weight: bold;
    margin-bottom: 6px;
    padding-left: 4px;
}

.art-images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: 220px;  */    /* adjust size as needed */
    height: auto;
    background: #1b1b1b;
    padding: 6px;
    border-radius: 6px;
}

.media-img {
    width: 100%;
    /*height: 220px; */     /* image height */
    object-fit: contain;
    border-radius: 4px;
}

.img-label {
    margin-top: 4px;
    text-align: center;
    font-size: 12px;
    color: #ccc;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.media-video {
    max-width: 180px;
    max-height: 180px;
    object-fit: contain;
    border-radius: 4px;
}


/* ------------- Add TAG ----------------  */

.add-tag-wrapper {
    position: relative;
    display: inline-block;
}

.add-tag-button {
    padding: 6px 12px;
    background: #333;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
}

.tag-dropdown,
.sub-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: #222;
    border: 1px solid #555;
    display: none;
    min-width: 180px;
    z-index: 9999;
}

.dropdown-item {
    padding: 6px 10px;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
}

.dropdown-item:hover {
    background: #444;
}

.add-tag-wrapper:hover > .tag-dropdown {
    display: block;
}

.dropdown-item:hover > .sub-dropdown {
    display: block;
    top: 0;
    left: 100%;
}

.image-dropdown-item {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 10px;
    cursor: pointer;
    white-space: nowrap;
}

.image-dropdown-item:hover {
    background: #444;
}

.tag-img-thumb {
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius: 3px;
}

